
<% if @current_user.present? %>
  <h1>Welcome <%= @current_user.name %></h1>

  <h2>Hello <%= @current_user.name %></h2>
  <% if @current_user.image.present? %>
  <%= image_tag @current_user.image %>
  <% end %>
<% else %>
  <h1>2019 Season Now Live</h1>
  <div class="hero">
    <%= link_to "Sign Up Right Now", new_user_path, :class => "hero-cta" %>
  </div>
<% end %>
