
<% if @current_user.present? %>
  <h1>Welcome <%= @current_user.name %></h1>

  <div class="home">
    <%= link_to "Create a Team", new_fantasy_path, :class => "hero-cta" %>
  </div>
<% else %>
  <h1>2019 Season Now Live</h1>
  <div class="hero">
    <%= link_to "Sign Up Right Now", new_user_path, :class => "hero-cta" %>
  </div>
<% end %>
