<h1>Your Fantasy Teams</h1>
<% @fantasy_teams.each do |team| %>
  <p>Name: <%= team.name %></p>
  <% team.driver_ids.each do |driver_id| %>
  <ul>
    <li><%= Driver.find(driver_id).name %></li>
  </ul>
  <% end %>
<% end %>
