// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #fefefe;
}

nav {
  background-color: var(--color-red);
  height: 6.5em;
  font-family: "Orbitron", "Roboto", sans-serif;

  display: flex;
  align-items: center;

  & a {
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin: 0 1em;
    padding-top: 0.8em;
    line-height: 1.5;
    border-bottom: 2px solid var(--color-red);
    color: var(--color-white);
    transition: all 0.5s;

    &:hover {
      border-color: #fff;
      color: #fff;
    }

    &:nth-child(2) {
      margin-left: 3em;
    }
  }

  .logo {
    fill: #fff;
    width: 14em;
    margin-top: 0.2em;
    margin-left: 2.5em;
  }
}

h1 {
  background-color: var(--color-black);
  color: #fff;
  font-family: "Orbitron", "Roboto", sans-serif;
  font-size: 1.5em;
  height: 3.5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  height: calc(100vh - 10em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  height: calc(100vh - 10em);
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: bottom;

  display: flex;
  align-items: center;
  justify-content: center;

  &-cta {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 1em 3.5em;
    margin-top: -10em;
    max-width: 20em;
    border: 2px solid var(--color-red);
    background-color: #fefefe;
    color: var(--color-red);
    transition: all 0.4s ease;

    &:hover {
      background-color: var(--color-red);
      color: #fefefe;
    }
  }
}
