// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  &-submit {
    grid-column: 1 / -1;
    justify-self: center !important;
    margin-left: 34% !important;
  }
}
